
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(250,250,250);
}

a {
    text-decoration: none;
}

.border {
    border: 1px solid rgb(219, 219, 219);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 935px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    margin-right: 2.188rem;
}

.banner {
    position: relative;
}

.phone {
}

.phone-img {
    position: absolute;
    left: 151px;
    top: 100px;
}
.profile-content {
    width: 350px;
    margin-left: -15px;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 22px;
    
}

.profile img {
    padding: 7px 0;
}

.soon-instagram {
    width: 175px;
}

.photo-profile { 
    border-radius: 50%;
    height: 100px;
    position: relative;
}

.profile-button-name {
   margin: 20px 0;
   padding: 7px;
   background-color: #2196F3;
   color: #fff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

.profile-remove-account{
    color:#2196F3;
    font-weight: bold;

}

.account {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.blue-color {
    color:#2196F3;
    font-weight: bold;
}

.grey-color  {
    color: #78909C;
}


.aside-get-app {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside-get {
    text-align: center;
    margin-bottom: 20px;
}
.aside-get-img {
    height: 40px;
}

/* Estilizando Login */

.style-line {
    margin-top: 3px;
}

.style-line-or {
    display: flex;
    align-items: center;
}

.or {
    margin: 0px 17px;
    margin-top: 5px;
    font-size: 13px;
    color: rgb(142, 142, 142)
}

.line {
    width: 50%;
    display: flex;
    height: 1px;
    background-color: rgba(0,0,0,0.15);
}

.login-facebook {
    display: flex;
    justify-content: center;
    margin-top: 21px;
}

.login-facebook-img {
    margin-right: 8px;
    
}

.login-facebook-img-text {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

.login-facebook-text {
    color: #385185;
}

.forgot-password {
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    margin-top: 14px;
}

.forgot-password a {
    color: rgb(0, 55, 107);
}

.account.sign-up-instagram {
    height: 63px;
}

.sign-up-instagram .blue-color {
    font-weight: bold;
}

.profile.profile-login {
    height: 380px;
    margin-top: -3px;
    padding-top: 26px;
    background-color: rgb(255, 255, 255);;
}

.aside-get.info-download {
    font-size: 14px;
}

.first-img {
    margin-right: 3px;
}

.placeholder {
    position: absolute;
    top: 2px;
    left: 10px;
    color: rgba(142, 142, 142, 1);
    font-size: 13px;
    font-weight: normal;
    overflow: hidden;
    pointer-events: none;
}

.login {
    width: 268px;
    margin-top: 32px;
}

.login-label {
    position: relative;
}

.login-input {
    width: 100%;
    height: 36px;
    margin-bottom: 6px;
    border: 1px solid rgba(219, 219, 219, 0.9);
    padding-top: 9px;
    padding-bottom: 7px;
    padding-right: 8px;
    padding-left: 8px;
    background-color: rgba(250, 250, 250, 1)
}

.profile-button-name.login-button {
    width: 100%;
    height: 30px;
    border-radius: 3px; 
    font-weight: bold;
    margin: 10px 0;
}
/* ----------Reponsividade------------ */

@media (max-width: 875px) {
    .banner {
        display: none;
    }
    .wrapper {
        margin-right    : 0;
    }
}

@media (max-width: 451px) { 


    .profile-content {
        width: 100%;
        align-items: stretch;
    }

    .profile {
        padding-top: 0px;
    }

    .border {
        border: none;
    }

}