
.header {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(219, 219, 219);
    
}

.header-img {
    width: 975px;
    padding: 0 20px;
}

.header-img-link {
    height: 100%;
    display: inline-block;
    margin-top: 10px;
}

.wrapper {
    margin-top: 0;
    margin-right: 0;
}

.profile-content {
    width: 388px;
    margin: 0px auto 37px;
    margin-top: 48px;
}

.lock {
    width: 96px;
    height: 96px;
    display: block;
    background-image: url('/img/all-icon.png');
    background-repeat: no-repeat;
    background-position: -130px 0;
}

.profile {
    padding-bottom: 0;
}

.profile.profile-login {
    height: auto;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.login {
    width: 300px;
}

.enter-problem {
    margin-top: 15px;
    color: rgba(38, 38, 38, 0.9);
    font-size: 16.5px;
}

.password-instruction {
    font-size: 15.5px;
    font-weight: 400;
    text-align: center;
    line-height: 18px;
    margin: 12px 0;
    color: rgb(142, 142, 142);
}

.login-label {
    display: flex;
    height: 40px;
}

.login {
    margin-top: 0;
}

.placeholder {
    bottom: 0;
    top: 0.563rem;
    font-size: 14px;
    padding-top: 5px;
    transition: 0.1s;
}

.typing-span {
    /*  
    Ao digitar, adicione a classe no html que realiza as modificações
    no span e no input
    */
    top: 0px;
    font-size: 12px;
    transition: 0.1s;
}

.login-input {
    height: 40px;
}
.typing-input {
    padding-top: 20px;
}

.login-facebook {
    margin-top: 15px;
}

.login-facebook-img-text {
    color: rgba(38, 38, 38, 0.9);
}


.forgot-password a {
    width: 388px;
    color: rgba(38, 38, 38, 0.9);
    background-color: rgba(250, 250, 250, 1);
    font-size: 15px;
    justify-content: center;
    border: 1px solid rgba(219, 219, 219, 1);
    margin-top: 68px;
    padding: 13px;

}

